.layout{
  width: 100%;
  height: 100vh;
  .navbar-layuot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-size: 14px;
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0 5px 6px rgba(161, 157, 161, 0.4);
    padding: 0 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    .navbar-left{
      display: flex ;
      align-items: center ;
      a{
        color: #3936df;
        font-family: "adobe-clean", sans-serif;
        font-size: 13.5px;
        font-weight: 500;
        letter-spacing: -0.3px;
        line-height: 15px;
        text-decoration: none;
        margin-left: 8px;
        text-transform: uppercase;
        margin-right: 10px;
      }
      .menu-bar{
        width: 20px;
        height: 18px;
        .img{
          width: 100%;
          height: 100%;
          mask-image: url("../images/menu.png");
          mask-size: 100% 100%;
          background: #3C8EC3;
        }
      }
    }
    .navbar-right{
      display: flex;
      align-items: center;
      .user-name{
        margin-right: 15px;
        span{
          display: block;
          font-size: 15px;
        }
        span:nth-child(2){
          color: #777;
        }
      }
      .user-icon{
        width: 30px;
        height: 30px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .layout-container{
    .bg-content{
      display: flex;
      .content-left{
        width: 16%;
        padding: 20px;
        color: #758bdf;
        .text{
          margin-bottom: 20px;
          text-transform: uppercase;
          font-weight: 600;
        }
        ul{
          list-style-type: none;
          margin: 0;
          li{
            overflow: hidden;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            transition: all .3s;
            a{
              text-decoration: none;
              font-size: 14px;
              color: #000;
              width: 100%;
              height: 100%;
              font-weight: 400;
              transition: all .3s;
            }
            &:hover{
              cursor: pointer;
              background-color: #caffbe;
            }
          }
        }
      }
      .content-right{
        width: 84%;
        background-color: #f1f1f1;
        height: 100vh;
        position: relative;
        .progress-bar-content{
          margin-top: 40px;
          .bar-content{
            padding: 50px 25px 0 25px;
            width: 100%;
            .dark-blue{
              position: relative;
              .check, .check1, .check2{
                left: 0;
                z-index: 10;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                width: 25px;
                height: 25px;
                background: #7164df;
                padding: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                .icon{
                  width: 100%;
                  height: 100%;
                  mask-image: url("../images/check.png");
                  mask-size: 100%, 100%;
                  background-color: #fff;
                }
              }
              .check1{
                left: 25%;
              }
              .check2{
                left: 75%;
                .icon{
                  background-color: transparent;
                }
              }
              .text{
                position: absolute;
                z-index: 11;
                top: -60px;
                color: #6b4bed;
                font-size: 14px;
                font-weight: 600;
              }
              .text:nth-child(2){
                left: 25%;
              }
              .text:nth-child(3){
                left: 50%;
              }
              .text:nth-child(4){
                left: 75%;
              }
              .student-cap{
                position: absolute;
                left: 50%;
                z-index: 10;
                top: 50%;
                transform: translateY(-50%);
                width: 35px;
                height: 35px;
                padding: 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #4d9c25;
                .icon{
                  width: 100%;
                  height: 100%;
                  mask-image: url("../images/graduation-cap.png");
                  mask-size: 100%, 100%;
                  background-color: #fff;
                }
              }
              height: 9px;
              width: 100%;
              background: #9197df;
              border-radius: 10px;
              .blue{
                height: 100%;
                background: #7164df;
                width: 60%;
                border-radius: 10px;
              }
            }
          }
        }
        .cards-content{
          padding: 25px;
          display: flex;
          justify-content: space-between;

          .card{
            width: 19%;
            transition: all .4s;
            .card-body, .card-body1, .card-body2{
              background-color: #fff;
              border-radius: 10px;
              padding: 12px;
              transition: all .2s;
              .header, .header1, .header2{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 60px;
                .header-left, .header-left1, .header-left2{
                  .white-circle, .white-circle1, .white-circle2{
                    background-color: #fff;
                    width: 40px;
                    height: 40px;
                    box-shadow: 2px 2px  4px rgba(239, 234, 239, 0.4), -2px -2px  4px rgba(239, 234, 239, 0.4) ;
                    padding: 5px;
                    border-radius: 50%;
                    .border-circle, .border-circle1, .border-circle2{
                      width: 100%;
                      height: 100%;
                      border-radius: 50%;
                      border: 2px solid #3BB15A;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      .count, .count1, .count2{
                        color: #3BB15A;
                      }
                    }
                  }
                }
                .header-right, .header-right1, .header-right2{
                  .count, .count1, .count2{
                    background-color: #adbcdf;
                    border-radius: 9px;
                    padding: 5px 15px;
                    font-size: 12px;
                    color: #3220df;
                  }
                }
              }
              .bottom, .bottom1, .bottom2{
                p{
                  color: #3C8EC3;
                  font-size: 12px;
                  font-weight: 700;
                }
              }
            }
            .card-body{
              &:hover{
                box-shadow: 7px 7px 25px rgba(183, 191, 189, 0.9),  -7px 7px 25px rgba(183, 191, 189, 0.9);
                cursor: pointer;
              }
            }
            .aaa{
              padding-left: 25px !important;
            }

          }
          .card.active{
            transition: all .3s;
            width: 73%;

            .card-body{
              padding-top: 60px;
              background-color: #a8b4df;
              padding-bottom: 40px;
              border-bottom-right-radius: 0!important;
              border-bottom-left-radius: 0!important;
              .header{
                padding-bottom: 0;
                justify-content: end;
                .header-left{
                  display: none;
                }
                .header-right{
                  margin-right: 60px;
                  .count{
                    background-color: #fff!important;
                  }
                }
              }
              .bottom{
                p{
                  position: relative;
                  z-index: 2;
                  color: #fff;
                  font-size: 30px;
                  top: -30px;
                  left: 30px;
                }
              }
            }
          }
          .card.active1{
            transition: all .3s;
            width: 73%;
            .card-body1{
              padding-top: 60px;
              background-color: #858db3;
              padding-bottom: 40px;
              border-bottom-right-radius: 0!important;
              border-bottom-left-radius: 0!important;
              .header1{
                padding-bottom: 0;
                justify-content: end;
                .header-left1{
                  display: none;
                }
                .header-right1{
                  margin-right: 60px;
                  .count1{
                    background-color: #fff!important;
                  }
                }
              }
              .bottom1{
                p{
                  position: relative;
                  z-index: 2;
                  color: #fff;
                  font-size: 30px;
                  top: -30px;
                  left: 30px;
                }
              }
            }
          }
          .card.no-active{
            transition: all .3s;
            width: 6% ;
            padding-top: 20px;
            .card-body{
              .header{
                padding-bottom: 20px;
                display: block;
                .header-left{
                  .white-circle{
                    width: 35px;
                    height: 35px;
                    margin-bottom: 10px;
                    .border-circle{
                      .count{
                        font-size: 13px;
                      }
                    }
                  }
                }
                .header-right{
                  .count{
                    font-size: 11px;
                    text-align: center;
                    padding: 4px 0;
                    border-radius: 6px;
                  }
                }
              }
              .bottom{
                display: none;
              }
            }
          }
          .card.no-active1{
            transition: all .3s;
            width: 6% ;
            padding-top: 20px;
            .card-body1{
              .header1{
                padding-bottom: 20px;
                display: block;
                .header-left1{
                  .white-circle1{
                    width: 35px;
                    height: 35px;
                    margin-bottom: 10px;
                    .border-circle1{
                      .count1{
                        font-size: 13px;
                      }
                    }
                  }
                }
                .header-right1{
                  .count1{
                    font-size: 11px;
                    text-align: center;
                    padding: 4px 0;
                    border-radius: 6px;
                  }
                }
              }
              .bottom1{
                display: none;
              }
            }
          }
          .card-content-container-1{
            padding: 0 25px 0 25px!important;
            position: absolute;
            left: 0;
            top: 260px;
            width: 100%;
            .card-content-1{
              display: flex;
              justify-content: space-between;
              padding: 10px 25px 10px 25px;
              background-color: #a8b4df;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
              .card-content-container-2{
                padding: 0 25px 0 25px!important;
                position: absolute;
                left: 0;
                width: 100%;
                .card-content-2{
                  display: flex;
                  justify-content: space-between;
                  padding: 10px 25px 10px 25px;
                  background-color: #858db3;
                  border-top-right-radius: 10px;
                  border-bottom-right-radius: 10px;
                  border-bottom-left-radius: 10px;

                }
              }

            }
            .aaa{
              padding-left: 0 !important;
            }
          }
        }
      }
    }
  }
}